.hero-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 30px;
  height: 100vh;
  position: relative;
  z-index: 1;
}

.hero-text {
  text-align: center;
  line-height: 1.5em;
}

.hero-text h1 {
  font-size: 3rem;
  color: #f1f5f9;
  font-weight: 600;
  text-transform: uppercase;
  text-shadow: 0 0 20px #67e8f9;
  margin-bottom: 1rem;
}

.hero-text p {
  margin-bottom: 1.5rem;
}

.hero-text h3 {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
  font-weight: 600;
}
